Panel {
	background-color: 1c1c1e;
}

EditorPane {
	background-color: 1c1c1e;
	foreground-color: fefefe;
	font-family: roboto;
	font-size: 15;
}

TextField {
	background-color: 1c1c1e;
	foreground-color: fefefe;
	font-family: roboto;
	font-size: 15;
}

Label {
	foreground-color: fefefe;
}

Button {
	font-family: roboto;
	font-size: 15;
}

OptionPane {
	background-color: 1c1c1e;
	messageForeground-color: fefefe;
}

CheckBox {
	background-color: 1c1c1e;
	foreground-color: fefefe;
	font-family: roboto;
	font-size: 15;
}

MenuBar {
	background-color: 1c1c1e;
	foreground-color: fefefe;
	font-family: roboto;
	font-size: 15;
}
